<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>대시보드</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/graph.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

</head>
<body>
    <div class="sejonginfo_title">
            <div class="title_name">세종특별자치시 지역정보</div>
            <div class="title_date">
                <script type="text/javascript">
                    var today = new Date();

                    var year = today.getFullYear();
                    var month = ('0' + (today.getMonth()+1)).slice(-2);
                    var day = ('0' + today.getDate()).slice(-2);

                    var dateString = year + '.' + month + '.' + day;
                    document.write("일자 : " + dateString);
                </script>
            </div>
    </div>

    <!-- 세종시 지역정보데이터 -->
    <div class="status-board">
        <div class="status-item">
            <div class="status-label">총인구수</div>
            <div class="status-value">
                    {% load humanize %}
                    {{ total_pop.total__sum | intcomma }}
        </div>
    </div>
    <div class="status-item">
        <div class="status-label">의사수</div>
        <div class="status-value">
            {% load humanize %}
                {{ doc_pop.doctor__sum | intcomma }}
        </div>
    </div>
    <div class="status-item">
        <div class="status-label">간호사수</div>
        <div class="status-value">
            {% load humanize %}
                {{ nur_pop.nurse__sum | intcomma }}
        </div>
    </div>
        <div class="status-item">
            <div class="status-label">병상수</div>
            <div class="status-value">
                 {% load humanize %}
                    {{ pat_pop.patient__sum | intcomma }}
            </div>
        </div>
    </div>

    <!-- 연령대별 인구수 데이터 전처리 -->
    <div id="pop" style="display:none">
        {% for i in table %}
            {{ i.total }}{% if not forloop.last %},{% endif %}
        {% endfor %}
    </div>
    <div id="mpop" style="display:none">
        {% for i in table %}
            {{ i.m }}{% if not forloop.last %},{% endif %}
        {% endfor %}
    </div>
    <div id="fpop" style="display: none">
        {% for j in table %}
            {{ j.f }}{% if not forloop.last %},{% endif %}
        {% endfor %}
    </div>
    <script type="text/javascript">
        var pop = document.getElementById('pop').innerText.split(',');
        var mpop = document.getElementById('mpop').innerText.split(',');
        var fpop = document.getElementById('fpop').innerText.split(',');

        var sum_0 = 0; var sum_10 = 0; var sum_20 = 0; var sum_30 = 0;
        var sum_40 = 0; var sum_50 = 0; var sum_60 = 0; var sum_70 = 0;
        var msum_0 = 0; var msum_10 = 0; var msum_20 = 0; var msum_30 = 0;
        var msum_40 = 0; var msum_50 = 0; var msum_60 = 0; var msum_70 = 0;
        var fsum_0 = 0; var fsum_10 = 0; var fsum_20 = 0; var fsum_30 = 0;
        var fsum_40 = 0; var fsum_50 = 0; var fsum_60 = 0; var fsum_70 = 0;

        for (let i=0; i<mpop.length; i++){
            if(i<10) {
                sum_0 += Number(pop[i]);
                msum_0 += Number(mpop[i]);
                fsum_0 += Number(fpop[i]);
            } else if (i<20) {
                sum_10 += Number(pop[i]);
                msum_10 += Number(mpop[i]);
                fsum_10 += Number(fpop[i]);
            } else if (i<30) {
                sum_20 += Number(pop[i]);
                msum_20 += Number(mpop[i]);
                fsum_20 += Number(fpop[i]);
            } else if (i<40) {
                sum_30 += Number(pop[i]);
                msum_30 += Number(mpop[i]);
                fsum_30 += Number(fpop[i]);
            } else if (i<50) {
                sum_40 += Number(pop[i]);
                msum_40 += Number(mpop[i]);
                fsum_40 += Number(fpop[i]);
            } else if (i<60) {
                sum_50 += Number(pop[i]);
                msum_50 += Number(mpop[i]);
                fsum_50 += Number(fpop[i]);
            } else if (i<70) {
                sum_60 += Number(pop[i]);
                msum_60 += Number(mpop[i]);
                fsum_60 += Number(fpop[i]);
            } else {
                sum_70 += Number(pop[i]);
                msum_70 += Number(mpop[i]);
                fsum_70 += Number(fpop[i]);
            }}
    </script>


    <!-- 지역정보 표 부분 -->
        <div class="sejonginfo_table">
            <!-- 연령대별 인구수 표 -->
            <div class="table1">
                <div class="table1_title">인구통계적 구성
                    <span class="table_ym">(기준년월 : 2023.09)</span>
                    <table class="table1_body">
                        <thead>
                            <tr>
                                <th>구분</th>
                                <th>인구 수</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> 0 ~ 9세 </td>
                                <td><script type="text/javascript">document.write(sum_0.toLocaleString())</script></td>
                            </tr>
                            <tr>
                                <td> 10 ~ 19세 </td>
                                <td><script type="text/javascript">document.write(sum_10.toLocaleString())</script></td>
                            </tr>
                            <tr>
                                <td> 20 ~ 29세 </td>
                                <td><script type="text/javascript">document.write(sum_20.toLocaleString())</script></td>
                            </tr>
                            <tr>
                                <td> 30 ~ 39세 </td>
                                <td><script type="text/javascript">document.write(sum_30.toLocaleString())</script></td>
                            </tr>
                            <tr>
                                <td> 40 ~ 49세 </td>
                                <td><script type="text/javascript">document.write(sum_40.toLocaleString())</script></td>
                            </tr>
                            <tr>
                                <td> 50 ~ 59세 </td>
                                <td><script type="text/javascript">document.write(sum_50.toLocaleString())</script></td>
                            </tr>
                            <tr>
                                <td> 60 ~ 69세 </td>
                                <td><script type="text/javascript">document.write(sum_60.toLocaleString())</script></td>
                            </tr>
                            <tr>
                                <td> 70세 이상 </td>
                                <td><script type="text/javascript">document.write(sum_70.toLocaleString())</script></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        <!-- 종별 병원수 표 -->
                <div class="table2">
                    <div class="table1_title">종별 요양기관 수
                        <table class="table1_body">
                            <thead>
                                <tr>
                                    <th>구분</th>
                                    <th>병원수</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for hos in medical %}
                                {% if hos.id < 8 %}
                                    <tr>
                                        <td>{{ hos.type }}</td>
                                        <td>{{ hos.hospital }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="table3">
                    <div class="table1_title">
                        <table class="table1_body">
                            <thead>
                                <tr>
                                    <th>구분</th>
                                    <th>병원수</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for hos in medical %}
                                {% if hos.id >= 8 %}
                                    <tr>
                                        <td>{{ hos.type }}</td>
                                        <td>{{ hos.hospital }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                                <tr>
                                    <td> - </td>
                                    <td> - </td>
                                </tr>
                                <tr>
                                    <td> - </td>
                                    <td> - </td>
                                </tr>
                                <tr>
                                    <td> - </td>
                                    <td> - </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

    <!-- 차트그리기 -->
    <div class="chart-container">
        <div class="chart-box">
            <canvas id="popChart"></canvas>
        </div>
        <div class="chart-box">
            <canvas id="hospitalChart"></canvas>
        </div>
         <div class="chart-box">
            <canvas id="medicineChart"></canvas>
        </div>
        <div class="chart-box">
            <canvas id="countsChart"></canvas>
        </div>
    </div>

    <script>
        // Population Chart

        Chart.defaults.font.size = 11;
        var ctxPop = document.getElementById('popChart').getContext('2d');
        var popChart = new Chart(ctxPop, {
            type: 'bar',
            data: {
                labels: ['0~9', '10~19', '20~29', '30~39', '40~49', '50~59', '60~69', '70+'],
                datasets: [
                    {
                        label: 'Male Population',
                        data: [msum_0, msum_10, msum_20, msum_30, msum_40, msum_50, msum_60, msum_70],
                        backgroundColor: 'rgba(0, 123, 255, 0.5)',
                        borderColor: 'rgba(0, 123, 255, 1)',
                        borderWidth: 1
                    },
                    {
                        label: 'Female Population',
                        data: [fsum_0, fsum_10, fsum_20, fsum_30, fsum_40, fsum_50, fsum_60, fsum_70],
                        backgroundColor: 'rgba(255, 99, 132, 0.5)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    }
                ]
            },
            options: {
                scales: {
                    x: {
                        stacked: true,
                    },
                    y: {
                        stacked: true,
                        beginAtZero: true
                    },
                },
                plugins: {
                    title: {
                        display: true,
                        text: '인구통계',
                        padding: {
                            top: 10,
                            bottom: 10
                        }
                    }
                }
            }
        });

        // Hospital Chart
            var ctxHospital = document.getElementById('hospitalChart').getContext('2d');
            var hospitalChart = new Chart(ctxHospital, {
                type: 'line',
                data: {
                    labels: {{ hospital_types|safe }},
                    datasets: [
                        {
                            label: 'Hospitals',
                            data: {{ hospital_hospitals|safe }},
                            borderColor: 'rgba(54, 162, 235, 1)',
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            fill: true,
                            borderWidth: 2,
                            tension: 0.1
                        },
                        {
                            label: 'Doctors',
                            data: {{ hospital_doctors|safe }},
                            borderColor: 'rgba(255, 206, 86, 1)',
                            backgroundColor: 'rgba(255, 206, 86, 0.2)',
                            fill: true,
                            borderWidth: 2,
                            tension: 0.1
                        }
                    ]
                },
                options: {
                    responsive: true,
                    interaction: {
                        mode: 'index',
                        intersect: false,
                    },
                    scales: {
                        x: {
                            display: true,
                            title: {
                                display: true,

                            }
                        },
                        y: {
                            display: true,
                            title: {
                                display: true,

                            },
                            beginAtZero: true
                        }
                    },plugins: {
            title: {
                display: true,
                text: '진료과목별 의료기관과 전문의수 비교현황',
                padding: {
                    top: 10,
                    bottom: 10
                }
            }
        }
                }
            });
        // Medicine Chart
            var ctxMedicine = document.getElementById('medicineChart').getContext('2d');
            var medicineChart = new Chart(ctxMedicine, {
                type: 'line',
                data: {
                    labels: {{ medicine_ages|safe }},
                    datasets: [
                        {
                            label: 'January',
                            data: {{ medicine_m1s|safe }},
                            borderColor: 'rgba(255, 051, 051, 1)',
                            fill: true,
                            borderWidth: 2,

                        },
                        {
                            label: 'February',
                            data: {{ medicine_m2s|safe }},
                            borderColor: 'rgba(255, 153, 000, 1)',
                            fill: true,
                            borderWidth: 2,

                        },
                        {

                            label: 'March',
                            data: {{ medicine_m3s|safe }},
                            borderColor: 'rgba(255, 255, 000, 1)',
                            fill: true,
                            borderWidth: 2,

                        },
                       {
                            label: 'April',
                            data: {{ medicine_m4s|safe }},
                            borderColor: 'rgba(000, 255, 000, 1)',
                            fill: true,
                            borderWidth: 2

                        },
                        {
                            label: 'May',
                            data: {{ medicine_m5s|safe }},
                            borderColor: 'rgba(000, 051, 255, 1)',
                            fill: true,
                            borderWidth: 2,

                        },
                        {
                            label: 'June',
                            data: {{ medicine_m6s|safe }},
                            borderColor: 'rgba(153, 051, 225, 1)',
                            fill: true,
                            borderWidth: 2,

                        },
                        {
                            label: 'July',
                            data: {{ medicine_m7s|safe }},
                            borderColor: 'rgba(102, 255, 204, 1)',
                            fill: true,
                            borderWidth: 2,

                        },
                        {
                            label: 'August',
                            data: {{ medicine_m8s|safe }},
                            borderColor: 'rgba(204, 051, 102, 1)',
                            fill: true,
                            borderWidth: 2,

                        },
                    ]
                },
                options: {
                    responsive: true,
                    interaction: {
                        mode: 'index',
                        intersect: false,
                    },
                    scales: {
                        x: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Age Group'
                            }
                        },
                        y: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Usage'
                            },
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        title: {
                            display: true,
                            text: '연령대별 월별 의약품 사용현황',
                            padding: {
                                top: 10,
                                bottom: 10
                            }
                        }
                    }
                }
            });
        // Hospital counts Chart
        var ctxCounts = document.getElementById('countsChart').getContext('2d');
            var countsChart = new Chart(ctxCounts, {
                type: 'bar',
                data: {
                    labels: {{counts_regions|safe}},
                    datasets: [
                        {
                            label: '병의원',
                            data: {{counts_clinics|safe}},
                            backgroundColor: 'rgba(0, 123, 255, 0.5)',
                            borderColor: 'rgba(0, 123, 255, 1)',
                            borderWidth: 1
                        },
                        {
                            label: '보건소',
                            data: {{counts_healthcenters|safe}},
                            backgroundColor: 'rgba(255, 99, 132, 0.5)',
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 1
                        },
                        {
                            label: '약국',
                            data: {{ counts_pharmacys|safe }},
                            backgroundColor: 'rgba(75, 192, 192, 0.5)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        },
                        {
                            label: '치과',
                            data: {{ counts_dentists|safe }},
                            backgroundColor: 'rgba(255, 206, 86, 0.5)',
                            borderColor: 'rgba(255, 206, 86, 1)',
                            borderWidth: 1
                        },
                        {
                            label: '한의원',
                            data:{{ counts_orientals|safe }},
                            backgroundColor: 'rgba(153, 102, 255, 0.5)',
                            borderColor: 'rgba(153, 102, 255, 1)',
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    scales: {
                        x: {
                            stacked: true,
                        },
                        y: {
                            stacked: true,
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        title: {
                            display: true,
                            text: '읍면동별 의료기관 현황',
                            padding: {
                                top: 10,
                                bottom: 10
                            }
                        }
                    }
                }
            });

</script>
</body>
</html>


