<!--아이콘 넣기 참고링크-->
<!-- https://blogpack.tistory.com/1018 -->
<!-- https://me-in-journey.com/entry/HTMLCSS-%EC%82%AC%EC%9D%B4%EB%93%9C%EB%B0%94-%EB%A9%94%EB%89%B4-%EB%A7%8C%EB%93%A4%EA%B8%B0-%EB%8A%98%EC%96%B4%EB%82%98%EB%8A%94-2%EC%B0%A8-%EB%A9%94%EB%89%B4-%EB%A7%8C%EB%93%A4%EA%B8%B0-feat-overflow-hidden -->
{% extends 'finalapp/base.html' %}
{% block content %}
 <div id="name" style="display: none">
        {% for i in sejong %}
                {{ i.name }}{% if not forloop.last %},{% endif %}
        {% endfor %}
    </div>
    <div id="address" style="display: none">
        {% for i in sejong %}
                {{ i.address1 }}{% if not forloop.last %},{% endif %}
        {% endfor %}
    </div>
    <div id="type" style="display: none">
        {% for i in sejong %}
                {{ i.type }}{% if not forloop.last %},{% endif %}
        {% endfor %}
    </div>
    <div id="department" style="display: none">
        {% for i in sejong %}
                {{ i.department }}{% if not forloop.last %}|{% endif %}
        {% endfor %}
    </div>

 <div id="sidebar">
     <ul>
         <li>
                <div>
                    <div><a href="/board"><i class="fa-solid fa-magnifying-glass-chart"></i></a></div>
                    <div><a href="/board">main</a></div>
                </div>
         </li>
     <li>
    <div>
        <div><i class="fa-regular fa-map"></i></div>
        <div>진료과목별 의료기관</div>
    </div>

    <ul id="category">
        <li id="외과" data-order="0">
            <span class="category_bg pharmacy"></span>
            외과
        </li>
        <li id="내과" data-order="1">
            <span class="category_bg pharmacy"></span>
            내과
        </li>
        <li id="산부인과" data-order="2">
            <span class="category_bg pharmacy"></span>
            산부인과
        </li>
        <li id="신경과" data-order="3">
            <span class="category_bg pharmacy"></span>
            신경과
        </li>
        <li id="안과" data-order="4">
            <span class="category_bg pharmacy"></span>
            안과
        </li>
        <li id="이비인후과" data-order="5">
            <span class="category_bg pharmacy"></span>
            이비인후과
        </li>
        <li id="치과" data-order="6">
            <span class="category_bg pharmacy"></span>
            치과
        </li>
        <li id="피부과" data-order="7">
            <span class="category_bg pharmacy"></span>
            피부과
        </li>
        <li id="정신건강의학과" data-order="8">
            <span class="category_bg pharmacy"></span>
            정신건강의학과
        </li>
        <li id="가정의학과" data-order="9">
            <span class="category_bg pharmacy"></span>
            가정의학과
        </li>
        <li id="결핵과" data-order="10">
            <span class="category_bg pharmacy"></span>
            결핵과
        </li>
        <li id="비뇨기과" data-order="11">
            <span class="category_bg pharmacy"></span>
            비뇨기과
        </li>
        <li id="소아청소년과" data-order="12">
            <span class="category_bg pharmacy"></span>
            소아청소년과
        </li>
        <li id="재활의학과" data-order="13">
            <span class="category_bg pharmacy"></span>
            재활의학과
        </li>
        <li id="한방" data-order="14">
            <span class="category_bg pharmacy"></span>
            한방
        </li>
    </ul>
     </li>


     <li>
    <div>
        <div><i class="fa-regular fa-map"></i></div>
        <div>종별 의료기관</div>
    </div>
    <ul id="category2">
        <li id="종합병원" data-order="15">
            <span class="category_bg pharmacy"></span>
            종합병원
        </li>
        <li id="병원" data-order="16">
            <span class="category_bg pharmacy"></span>
            병원
        </li>
        <li id="의원" data-order="17">
            <span class="category_bg pharmacy"></span>
            의원
        </li>
        <li id="치과병원" data-order="18">
            <span class="category_bg pharmacy"></span>
            치과병원
        </li>
        <li id="치과의원" data-order="19">
            <span class="category_bg pharmacy"></span>
            치과의원
        </li>
        <li id="한방병원" data-order="20">
            <span class="category_bg pharmacy"></span>
            한방병원
        </li>
        <li id="한의원" data-order="21">
            <span class="category_bg pharmacy"></span>
            한의원
        </li>
        <li id="요양병원" data-order="22">
            <span class="category_bg pharmacy"></span>
            요양병원
        </li>
        <li id="정신병원" data-order="23">
            <span class="category_bg pharmacy"></span>
            정신병원
        </li>
        <li id="보건진료소" data-order="24">
            <span class="category_bg pharmacy"></span>
            보건진료소
        </li>
        <li id="보건지소" data-order="25">
            <span class="category_bg pharmacy"></span>
            보건지소
        </li>
        <li id="약국" data-order="26">
            <span class="category_bg pharmacy"></span>
            약국
        </li>
    </ul>
     </li>
     </ul>
</div>

 <div class="map_wrap">
    <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
</div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=65ebde6ef56b62ee5550e04abf379f36&libraries=services"></script>
<script>

var names = document.getElementById('name').innerHTML.split(',')
var addresses= document.getElementById('address').innerHTML.split(',')
var types= document.getElementById('type').innerHTML.split(',');
var deps= document.getElementById('department').innerHTML.split('|');

Category = ['외과','내과', '산부인과', '신경과', '안과', '이비인후과','치과', '피부과', '정신건강의학과', '가정의학과', '결핵과', '비뇨기과', '소아청소년과', '재활의학과',   '한방']
Category2 = ['종합병원', '병원', '의원', '치과병원', '치과의원', '한방병원', '한의원', '요양병원', '정신병원', '보건진료소', '보건지소', '약국']


var currCategory = [];
var allcoords = Array.from(
                            { length: Category.length + Category2.length },
                            () => []);
var markers = Array.from(
                            { length: Category.length + Category2.length },
                            () => []);

var placeOverlay = new kakao.maps.CustomOverlay({zIndex:1}),
    contentNode = document.createElement('div')

var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(36.5331357, 127.2454549), // 지도의 중심좌표
        level: 9 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption);

var geocoder = new kakao.maps.services.Geocoder();

kakao.maps.event.addListener(map, 'idle', searchPlaces);


contentNode.className = 'placeinfo_wrap';


addEventHandle(contentNode, 'mousedown', kakao.maps.event.preventMap);
addEventHandle(contentNode, 'touchstart', kakao.maps.event.preventMap);


placeOverlay.setContent(contentNode);


addCategoryClickEvent();


function addEventHandle(target, type, callback) {
    if (target.addEventListener) {
        target.addEventListener(type, callback);
    } else {
        target.attachEvent('on' + type, callback);
    }
}

for (let i = 0; i < Category.length; i++) {
    for (let j = 0; j < names.length; j++) {
                if (deps[j].includes(Category[i])) {
                    (function (index) {
                      geocoder.addressSearch(addresses[index], function(result, status) {

                        if (status === kakao.maps.services.Status.OK) {

                            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);


                            allcoords[i].push(coords);

                        }
                     });
                   })(j);
                 }
           }
      }
for (let i = 0; i < Category2.length; i++) {
    for (let j = 0; j < names.length; j++) {
                if (types[j].trim() === Category2[i]) {
                    (function (index) {
                      geocoder.addressSearch(addresses[index], function(result, status) {

                        if (status === kakao.maps.services.Status.OK) {

                            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);



                            allcoords[i+15].push(coords);


                        }
                     });
                   })(j);
                 }
           }
      }


function searchPlaces() {
        if (currCategory.length === 0) {
        removeAllMarkers();
            return;
        }
        placeOverlay.setMap(null);


    for (var i = 0; i < currCategory.length; i++) {
        var currentOrder = document.getElementById(currCategory[i]).getAttribute('data-order');
        removeMarker(currentOrder);
    }

       displayPlaces();
}

function removeAllMarkers() {
    for (var i = 0; i < markers.length; i++) {
        removeMarker(i);
    }

}


 function displayPlaces(places) {

    for (var i = 0; i < currCategory.length; i++) {
        var currentCategory = currCategory[i];
        var currentOrder = document.getElementById(currentCategory).getAttribute('data-order');
          for ( var j=0; j < allcoords[currentOrder].length; j++ ) {
            var marker = new kakao.maps.Marker({
                                position: allcoords[currentOrder][j]
                            });

            marker.setMap(map);
            markers[currentOrder].push(marker);
            }
    }
 }


function removeMarker(order) {
            for (var i = 0; i < markers[order].length; i++) {
                        markers[order][i].setMap(null);
                    }

                    markers[order] = [];
                }


function addCategoryClickEvent() {
    var category = document.getElementById('category'),
        children = category.children;
    var category2 = document.getElementById('category2'),
        children2 = category2.children;

    for (var i=0; i<children.length; i++) {
        children[i].onclick = onClickCategory;
    }
    for (var i=0; i<children2.length; i++) {
        children2[i].onclick = onClickCategory;
    }
}


function onClickCategory() {
    var id = this.id,
        index = currCategory.indexOf(id);

    if (index !== -1) {
        currCategory.splice(index, 1);
        var currentOrder = document.getElementById(id).getAttribute('data-order');
        removeMarker(currentOrder);
    } else {
        currCategory.push(id);
        displayPlaces();
    }

    changeCategoryClass(this);
}

function changeCategoryClass(el) {
    if (el.classList.contains('on')) {
        el.classList.remove('on');
    } else {
        el.classList.add('on');
    }
}
</script>
{% endblock %}