<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>주소로 장소 표시하기</title>

</head>
<body>

<div id="map" style="width:100%;height:350px;"></div>

    <div id="name" style="display: none">
    {% for i in sejong %}
        {{ i.name }}{% if not forloop.last %},{% endif %}
    {% endfor %}
    </div>
    <div id="address" style="display: none">
        {% for i in sejong %}
            {{ i.address }}{% if not forloop.last %},{% endif %}
        {% endfor %}
    </div>



<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=65ebde6ef56b62ee5550e04abf379f36&libraries=services"></script>

<script type="text/javascript">
var mapContainer = document.getElementById('map'),
    mapOption = {
        center: new kakao.maps.LatLng(36.5331357, 127.2454549),
        level: 9
    };

var names = document.getElementById('name').innerText.split(',');
var addresses= document.getElementById('address').innerText.split(',');

var map = new kakao.maps.Map(mapContainer, mapOption);

var geocoder = new kakao.maps.services.Geocoder();
    for (let i=0; i < names.length; i++) {
            geocoder.addressSearch(addresses[i], function(result, status) {

                if (status === kakao.maps.services.Status.OK) {

                    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                    var marker = new kakao.maps.Marker({
                        map: map,
                        position: coords
                    });

                    var infowindow = new kakao.maps.InfoWindow({
                        content: '<div style="width:150px;text-align:center;padding:6px 0;">' + names[i] + ' </div>'
                    });
                    infowindow.open(map, marker);
                    map.setCenter(coords);
                }
             });
    };
</script>
</body>
</html>