<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
      }
      .chartMenu {
        width: 100vw;
        height: 40px;
        background: #1A1A1A;
        color: rgba(255, 26, 104, 1);
      }
      .chartMenu p {
        padding: 10px;
        font-size: 20px;
      }
      .chartCard {
        width: 100vw;
        height: calc(100vh - 40px);
        background: rgba(54, 162, 235, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .chartBox {
        width: 700px;
        padding: 20px;
        border-radius: 20px;
        border: solid 3px rgba(54, 162, 235, 1);
        background: white;
      }
    </style>
</head>
<body>
<div class="chartMenu"></div>
    <div class="chartCard">
      <div class="chartBox">
        <canvas id="myChart"></canvas>
      </div>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
    <script>
        const coordinates = {
            top: 0,
            bottom: 0,
            left: 0,
            right: 0,
        }

        const browserData = [{
            browser: '0-9세',
            color: 'rgba(255, 222, 255, 1)',
            marketshare: {{ mage0s }}+{{ fage0s }},
            versionData: [
                {% for i in regionpop %}
                    { version: '{{ i.regions }}', users: {{ i.mage0s }} }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ],
            versionData1: [
                {% for i in regionpop %}
                    { version: '{{ i.regions }}', users: {{ i.fage0s }} }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ]},
            {
            browser: '10-19세',
            color: 'rgba(222, 222, 255, 1)',
            marketshare: {{ mage10s }}+{{ fage10s }},
            versionData: [
                {% for i in regionpop %}
                    { version: '{{ i.regions }}', users: {{ i.mage10s }} }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ],
            versionData1: [
                {% for i in regionpop %}
                    { version: '{{ i.regions }}', users: {{ i.fage10s }} }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ]},
            {
            browser: '20-29세',
            color: 'rgba(255, 255, 222, 1)',
            marketshare: {{ mage20s }}+{{ fage20s }},
            versionData: [
                {% for i in regionpop %}
                    { version: '{{ i.regions }}', users: {{ i.mage20s }} }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ],
            versionData1: [
                {% for i in regionpop %}
                    { version: '{{ i.regions }}', users: {{ i.fage20s }} }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ]},
            {
            browser: '30-39세',
            color: 'rgba(222, 222, 239, 1)',
            marketshare: {{ mage30s }}+{{ fage30s }},
            versionData: [
                {% for i in regionpop %}
                    { version: '{{ i.regions }}', users: {{ i.mage30s }} }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ],
            versionData1: [
                {% for i in regionpop %}
                    { version: '{{ i.regions }}', users: {{ i.fage30s }} }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ]},
            {
            browser: '40-49세',
            color: 'rgba(222, 239, 255, 1)',
            marketshare: {{ mage40s }}+{{ fage40s }},
            versionData: [
                {% for i in regionpop %}
                    { version: '{{ i.regions }}', users: {{ i.mage40s }} }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ],
            versionData1: [
                {% for i in regionpop %}
                    { version: '{{ i.regions }}', users: {{ i.fage40s }} }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ]},
            {
            browser: '50-59세',
            color: 'rgba(222, 255, 255, 1)',
            marketshare: {{ mage50s }}+{{ fage50s }},
            versionData: [
                {% for i in regionpop %}
                    { version: '{{ i.regions }}', users: {{ i.mage50s }} }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ],
            versionData1: [
                {% for i in regionpop %}
                    { version: '{{ i.regions }}', users: {{ i.fage50s }} }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ]},
            {
            browser: '60-69세',
            color: 'rgba(239, 222, 239, 1)',
            marketshare: {{ mage60s }}+{{ fage60s }},
            versionData: [
                {% for i in regionpop %}
                    { version: '{{ i.regions }}', users: {{ i.mage60s }} }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ],
            versionData1: [
                {% for i in regionpop %}
                    { version: '{{ i.regions }}', users: {{ i.fage60s }} }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ]},
            {
            browser: '70세 이상',
            color: 'rgba(255, 222, 222, 1)',
            marketshare: {{ mage70s }}+{{ fage70s }},
            versionData: [
                {% for i in regionpop %}
                    { version: '{{ i.regions }}', users: {{ i.mage70s }} }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ],
            versionData1: [
                {% for i in regionpop %}
                    { version: '{{ i.regions }}', users: {{ i.fage70s }} }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ]}
        ];

    // setup
    const data = {
      datasets: [{
        label: '연령대별 읍면동 분포',
        data: browserData,
        backgroundColor: [
            browserData[0].color,
            browserData[1].color,
            browserData[2].color,
            browserData[3].color,
            browserData[4].color,
            browserData[5].color,
            browserData[6].color,
            browserData[7].color,
        ],
        borderColor: [
            browserData[0].color,
            browserData[1].color,
            browserData[2].color,
            browserData[3].color,
            browserData[4].color,
            browserData[5].color,
            browserData[6].color,
            browserData[7].color,
        ],
        borderWidth: 1
      },{
        label: '',
        data: '',
        backgroundColor: '#00ff0000',
        borderColor: '#00ff0000',
      }]
    };

    // resetButton plugin
    const resetButton = {
        id: 'resetButton',
        beforeDraw(chart, args, options){
            if(myChart.config.data.datasets[0].label !== '연령대별 읍면동 분포'){

            const{ctx, chartArea: {top, bottom, left, right, width, height}} = chart;
            ctx.save();

            const text = 'Back';
            const thickBorder = 3;
            const textWidth = ctx.measureText(text).width;

            // draw background
            ctx.fillStyle = 'rgba(255, 26, 104, 0.2)';
            ctx.fillRect(right-(textWidth+1+10), 5, textWidth+10, 20);

            // draw text
            ctx.fillStyle = '#666';
            ctx.font = '12px Arial';
            ctx.fillText(text, right-(textWidth+1+5), 15);

            // draw border
            ctx.lineWidth = thickBorder + 'px';
            ctx.strokeStyle = 'rgba(255, 26, 104, 1)';
            ctx.strokeRect(right-(textWidth+1+10), 5, textWidth+10, 20);

            console.log(coordinates)
            coordinates.top = 5;
            coordinates.bottom = 25;
            coordinates.left = right-(textWidth+1+10);
            coordinates.right = right;

            ctx.restore();
            };
        }
    }

    // config
    const config = {
      type: 'bar',
      data,
      options: {
        plugins: {
            tooltip: {
                yAlign: 'bottom'
            }
        },
        onHover: (event, chartElement) => {
            if(myChart.config.data.datasets[0].label === '연령대별 읍면동 분포') {
            event.native.target.style.cursor = chartElement[0] ? 'pointer' : 'default';
            } else {
            event.native.target.style.cursor = 'default';
            };
        },
        parsing: {
            xAxisKey: 'browser',
            yAxisKey: 'marketshare'
        },
        scales: {
          x: {
            stacked: true,
          },
          y: {
            stacked: true,
            beginAtZero: true
          }
        }
      },
      plugins: [resetButton]
    };

    // render init block
    const ctx = document.getElementById('myChart');
    const myChart = new Chart(
      ctx,
      config
    );

    function changeChart(browser){
        myChart.config.options.parsing.xAxisKey = 'versionData.version';
        myChart.config.options.parsing.yAxisKey = 'versionData.users';
        myChart.config.options.scales.x.stacked = true;
        myChart.config.options.scales.y.stacked = true;
        myChart.config.options.scales.y.beginAtZero = true;

        const vUsers = [];
        const vLabels = browserData[browser].versionData.map(labels => {
            vUsers.push(labels.users);
            return labels.version;
        })

        const vUsers1 = [];
        const vLabels1 = browserData[browser].versionData1.map(labels => {
            vUsers1.push(labels.users);
            return labels.version;
        })

        console.log(vLabels)
        myChart.config.data.labels = vLabels;
        myChart.config.data.datasets[0].data = vUsers;
        myChart.config.data.datasets[1].data = vUsers1;
        myChart.config.data.datasets[0].backgroundColor = 'rgba(177, 204, 240, 1)';
        myChart.config.data.datasets[1].backgroundColor = 'rgba(255, 192, 203, 1)';
        myChart.config.data.datasets[0].borderColor = 'rgba(177, 204, 240, 1)';
        myChart.config.data.datasets[1].borderColor = 'rgba(255, 192, 203, 1)';
        myChart.config.data.datasets[0].label = '남자';
        myChart.config.data.datasets[1].label = '여자';
        myChart.update();
    }

    function clickHandler(click){
        if(myChart.config.data.datasets[0].label === '연령대별 읍면동 분포') {
            const bar = myChart.getElementsAtEventForMode(click, 'nearest',
                {intersect: true}, true);
            console.log(bar);
            if(bar.length){
                console.log(bar[0].index);
                changeChart(bar[0].index);
            }
        }
    };

    function resetChart(){
        myChart.config.options.parsing.xAxisKey = 'browser';
        myChart.config.options.parsing.yAxisKey = 'marketshare';

        const bColor = [];
        const bMarketshare = [];
        const bLabels = browserData.map(browser => {
            bColor.push(browser.color);
            bMarketshare.push(browser.marketshare);
            return browser.browser;
        });

        myChart.config.data.labels = bLabels;
        myChart.config.data.datasets[0].data = bMarketshare;
        myChart.config.data.datasets[1].data = '';
        myChart.config.data.datasets[0].backgroundColor = bColor;
        myChart.config.data.datasets[1].backgroundColor = '#00ff0000';
        myChart.config.data.datasets[0].borderColor = bColor;
        myChart.config.data.datasets[1].borderColor = '#00ff0000';
        myChart.config.data.datasets[0].label = '연령대별 읍면동 분포';
        myChart.config.data.datasets[1].label = '';

        myChart.update();
    };

    function mousemoveHandler(canvas, mousemove){
        const x = mousemove.offsetX;
        const y = mousemove.offsetY;

        if(myChart.config.data.datasets[0].label !== '연령대별 읍면동 분포'){
        if(x > coordinates.left && x < coordinates.right && y > coordinates.top && y < coordinates.bottom){
            canvas.style.cursor = 'pointer';
        } else {
            canvas.style.cursor = 'default';
          };
        };
    };

    function clickButtonHandler(canvas, click){
        const x = click.offsetX;
        const y = click.offsetY;

        if (x > coordinates.left && x < coordinates.right && y > coordinates.top && y < coordinates.bottom){
            resetChart();
        };
    };

    ctx.onclick = clickHandler;

    ctx.addEventListener('mousemove', (e) => {
        myChart.resize();
        mousemoveHandler(ctx, e);
    });

    ctx.addEventListener('click', (e) => {
        myChart.resize();
        clickButtonHandler(ctx, e);
    });
    </script>

</body>
</html>