        .chart-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            margin-top: 20px;
        }
        .chart-box {
            flex-basis: calc(50% - 20px);
            margin-bottom: 20px;
            }

        .canvas {
            width: 100%;
            height: auto;
        }
         .status-board {
            display: flex;
            justify-content: space-around;
            padding: 10px;
            background-color: #e9ecef;
            border-radius: 10px;
            margin-bottom: 20px;
        }
        .status-item {
            text-align: center;
            flex-grow: 1;
        }
        .status-item:not(:last-child) {
            border-right: 1px solid #dee2e6;
        }
        .status-label {
            font-size: 0.9em;
            color: #6c757d;
            margin-bottom: 5px;
        }
        .status-value {
            font-size: 1.5em;
            font-weight: bold;
        }



        @media (max-width: 768px) {
            .table1, .table2, .table3, .chart-box {
                flex-basis: 100%;
            }
        }
