/*
        .sejonginfo_title {position:relative;padding:10;}
        .title_name {font-size:20px ; color:#555; font-weight: bold; margin:0; margin-left:5%;}
        .title_date {position:absolute; right:10px; bottom:3; font-size:15px; font-weight: bold; color:#0d62ce;}
        .chartBox {
        border: solid 1px white;
        margin:8;
        padding:10;
      }
*/
