{% extends 'base.html' %}
{% block content %}
 <link rel="stylesheet" type="text/css" href="/static/css/map.css">

    <div id="all" style="display: none">
        {% for i in sejong %}
                {{ i.name }}|{{ i.address }}|{{ i.type }}|{{ i.department }}|{{ i.phone }}|{{ i.lat }},{{i.long}}{% if not forloop.last %}||{% endif %}
        {% endfor %}
    </div>

<div id="menu_wrap" class="bg_white">
        <div class="option">
            <div>
                <form onsubmit="searchPlaces(); return false;">
                    동네명 : <input type="text" placeholder="예시) 도담동" id="keyword" size="8.5" required>
                    <button type="submit">검색</button>
                </form>
            </div>
        </div>
        <hr>
        <ul id="placesList"></ul>
    </div>
 <div id="sidebar">
     <ul>
     <li>
    <div>
        <div><i class="fa-regular fa-map"></i></div>
        <div>진료과목별 의료시설</div>
    </div>

    <ul id="category">
        <li id="외과" data-order="0">
        <i class="fa-solid fa-circle-h" style="color: #219400;"></i>
            외과
                <ul id="category3">
                    <li id="정형외과" data-order="1">
                        <i class="fa-solid fa-circle-h" style="color: #166600;"></i>
                            정형외과
                    </li>
                    <li id="신경외과" data-order="2">
                        <i class="fa-solid fa-circle-h" style="color: #219900;"></i>
                            신경외과
                    </li>
                    <li id="흉부외과" data-order="3">
                        <i class="fa-solid fa-circle-h" style="color: #2ccc00;"></i>
                            흉부외과
                    </li>
                    <li id="성형외과" data-order="4">
                        <i class="fa-solid fa-circle-h" style="color: #37ff00;"></i>
                            성형외과
                    </li>
                </ul>
        </li>
        <li id="내과" data-order="5">
        <i class="fa-solid fa-circle-h" style="color: #94005d;"></i>
            내과
        </li>
        <li id="산부인과" data-order="6">
        <i class="fa-solid fa-circle-h" style="color: #0000ff;"></i>
            산부인과
        </li>
        <li id="신경과" data-order="7">
        <i class="fa-solid fa-circle-h" style="color: #005d94;"></i>
            신경과
        </li>
        <li id="안과" data-order="8">
        <i class="fa-solid fa-circle-h" style="color: #b22222;"></i>
            안과
        </li>
        <li id="이비인후과" data-order="9">
        <i class="fa-solid fa-circle-h" style="color: #8b008b;"></i>
            이비인후과
        </li>
        <li id="치과" data-order="10">
        <i class="fa-solid fa-circle-h" style="color: #7ae600;"></i>
            치과
        </li>
        <li id="피부과" data-order="11">
        <i class="fa-solid fa-circle-h" style="color: #696969;"></i>
            피부과
        </li>
        <li id="정신건강의학과" data-order="12">
        <i class="fa-solid fa-circle-h" style="color: #ffd700;"></i>
            정신건강의학과
        </li>
        <li id="가정의학과" data-order="13">
        <i class="fa-solid fa-circle-h" style="color: #085e4d;"></i>
            가정의학과
        </li>
        <li id="결핵과" data-order="14">
        <i class="fa-solid fa-circle-h" style="color: #ff083b;"></i>
            결핵과
        </li>
        <li id="비뇨기과" data-order="15">
        <i class="fa-solid fa-circle-h" style="color: #884b14;"></i>
            비뇨기과
        </li>
        <li id="소아청소년과" data-order="16">
        <i class="fa-solid fa-circle-h" style="color: #320909;"></i>
            소아청소년과
        </li>
        <li id="재활의학과" data-order="17">
        <i class="fa-solid fa-circle-h" style="color: #121255;"></i>
            재활의학과
        </li>
        <li id="한방" data-order="18">
        <i class="fa-solid fa-circle-h" style="color: #0f5fb3;"></i>
            한방
        </li>
    </ul>
     </li>


     <li>
    <div>
        <div><i class="fa-regular fa-map"></i></div>
        <div>종별 의료시설</div>
    </div>
    <ul id="category2">
        <li id="종합병원" data-order="19">
        <i class="fa-solid fa-circle-h" style="color: #ff319e;"></i>
            종합병원
        </li>
        <li id="병원" data-order="20">
        <i class="fa-solid fa-circle-h" style="color: #ff80c3;"></i>
            병원
        </li>
        <li id="의원" data-order="21">
        <i class="fa-solid fa-circle-h" style="color: #00ffd6;"></i>
            의원
        </li>
        <li id="치과병원" data-order="22">
        <i class="fa-solid fa-circle-h" style="color: #7ae600;"></i>
            치과병원
        </li>
        <li id="치과의원" data-order="23">
        <i class="fa-solid fa-circle-h" style="color: #a0ff33;"></i>
            치과의원
        </li>
        <li id="한방병원" data-order="24">
        <i class="fa-solid fa-circle-h" style="color: #0f5fb3;"></i>
            한방병원
        </li>
        <li id="한의원" data-order="25">
        <i class="fa-solid fa-circle-h" style="color: #319fff;"></i>
            한의원
        </li>
        <li id="요양병원" data-order="26">
        <i class="fa-solid fa-circle-h" style="color: #ff8c1e;"></i>
            요양병원
        </li>
        <li id="정신병원" data-order="27">
        <i class="fa-solid fa-circle-h" style="color: #ffd700;"></i>
            정신병원
        </li>
        <li id="보건소" data-order="28">
        <i class="fa-solid fa-circle-h" style="color: #9800b3;"></i>
            보건소
        </li>
        <li id="보건지소" data-order="29">
            <i class="fa-solid fa-circle-h" style="color: #d700ff;"></i>

            보건지소
        </li>
        <li id="보건진료소" data-order="30">
        <i class="fa-solid fa-circle-h" style="color: #bb80ff;"></i>
            보건진료소
        </li>

        <li id="약국" data-order="31">
        <i class="fa-solid fa-circle-h" style="color: #9131ff;"></i>
            약국
        </li>
    </ul>
     </li>
     </ul>
</div>



 <div class="map_wrap">
    <div id="map" style="width:100%;height:100%;position:relative; overflow:hidden;"></div>
</div>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        var sidebarItems = document.querySelectorAll("#sidebar ul > li");

        document.addEventListener("click", function (event) {
            // 클릭한 요소가 카테고리 메뉴인지 확인
            var isCategoryMenu = event.target.closest("#sidebar ul > li");
            var isCategoryMenu1 = event.target.closest("#sidebar ul > li > ul > li");
            var isSidebarItem = event.target.closest("#sidebar");
            // 클릭한 요소가 카테고리 메뉴가 아니면 모든 서브 메뉴를 닫습니다.
            if (!isCategoryMenu && !isSidebarItem && !isCategoryMenu1) {
                sidebarItems.forEach(function (item) {
                    var submenu = item.querySelector("ul");
                    if (submenu) {
                        submenu.classList.remove("show");
                    }
                    item.classList.remove("clicked"); // 클릭한 상태 클래스를 제거합니다.
                });
            }
        });

        sidebarItems.forEach(function (item) {
            item.addEventListener("click", function (event) {
                // 클릭한 메뉴에 대한 서브 메뉴를 토글합니다.
                var submenu = this.querySelector("ul");
                if (submenu) {
                    submenu.classList.toggle("show");
                }

                // 다른 메뉴의 서브 메뉴는 닫습니다.
                sidebarItems.forEach(function (otherItem) {
                    if (otherItem !== item) {
                        var otherSubmenu = otherItem.querySelector("ul");
                        if (otherSubmenu) {
                            otherSubmenu.classList.remove("show");
                        }
                        otherItem.classList.remove("clicked"); // 다른 메뉴의 클릭 상태를 제거합니다.
                    }
                });

                // 클릭한 상태 클래스를 토글합니다.
                this.classList.toggle("clicked");
                // 이벤트 전파를 중지하여 document 이벤트가 즉시 발생하지 않도록 합니다.
                event.stopPropagation();
            });
        });
    });

</script>


<script type="text/javascript" src="/static/js/map.js"></script>
{% endblock %}