{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/map.css">

 <div id="name" style="display: none">
        {% for i in sejong %}
                {{ i.name }}{% if not forloop.last %},{% endif %}
        {% endfor %}
    </div>
    <div id="address" style="display: none">
        {% for i in sejong %}
                {{ i.address1 }}{% if not forloop.last %},{% endif %}
        {% endfor %}
    </div>
    <div id="type" style="display: none">
        {% for i in sejong %}
                {{ i.type }}{% if not forloop.last %},{% endif %}
        {% endfor %}
    </div>
    <div id="department" style="display: none">
        {% for i in sejong %}
                {{ i.department }}{% if not forloop.last %}|{% endif %}
        {% endfor %}
    </div>

 <div id="sidebar">
     <ul>
         <li>
                <div>
                    <div><a href="/board"><i class="fa-solid fa-magnifying-glass-chart"></i></a></div>
                    <div><a href="/board">main</a></div>
                </div>
         </li>
     <li>
    <div>
        <div><i class="fa-regular fa-map"></i></div>
        <div>진료과목별 의료기관</div>
    </div>

    <ul id="category">
        <li id="외과" data-order="0">
        <i class="fa-solid fa-circle-h"></i>
            외과
        </li>
        <li id="내과" data-order="1">
        <i class="fa-solid fa-circle-h"></i>
            내과
        </li>
        <li id="산부인과" data-order="2">
        <i class="fa-solid fa-circle-h"></i>
            산부인과
        </li>
        <li id="신경과" data-order="3">
        <i class="fa-solid fa-circle-h"></i>
            신경과
        </li>
        <li id="안과" data-order="4">
        <i class="fa-solid fa-circle-h"></i>
            안과
        </li>
        <li id="이비인후과" data-order="5">
        <i class="fa-solid fa-circle-h"></i>
            이비인후과
        </li>
        <li id="치과" data-order="6">
        <i class="fa-solid fa-circle-h"></i>
            치과
        </li>
        <li id="피부과" data-order="7">
        <i class="fa-solid fa-circle-h"></i>
            피부과
        </li>
        <li id="정신건강의학과" data-order="8">
        <i class="fa-solid fa-circle-h"></i>
            정신건강의학과
        </li>
        <li id="가정의학과" data-order="9">
        <i class="fa-solid fa-circle-h"></i>
            가정의학과
        </li>
        <li id="결핵과" data-order="10">
        <i class="fa-solid fa-circle-h"></i>
            결핵과
        </li>
        <li id="비뇨기과" data-order="11">
        <i class="fa-solid fa-circle-h"></i>
            비뇨기과
        </li>
        <li id="소아청소년과" data-order="12">
        <i class="fa-solid fa-circle-h"></i>
            소아청소년과
        </li>
        <li id="재활의학과" data-order="13">
        <i class="fa-solid fa-circle-h"></i>
            재활의학과
        </li>
        <li id="한방" data-order="14">
        <i class="fa-solid fa-circle-h"></i>
            한방
        </li>
    </ul>
     </li>


     <li>
    <div>
        <div><i class="fa-regular fa-map"></i></div>
        <div>종별 의료기관</div>
    </div>
    <ul id="category2">
        <li id="종합병원" data-order="15">
        <i class="fa-solid fa-circle-h"></i>
            종합병원
        </li>
        <li id="병원" data-order="16">
        <i class="fa-solid fa-circle-h"></i>
            병원
        </li>
        <li id="의원" data-order="17">
        <i class="fa-solid fa-circle-h"></i>
            의원
        </li>
        <li id="치과병원" data-order="18">
        <i class="fa-solid fa-circle-h"></i>
            치과병원
        </li>
        <li id="치과의원" data-order="19">
        <i class="fa-solid fa-circle-h"></i>
            치과의원
        </li>
        <li id="한방병원" data-order="20">
        <i class="fa-solid fa-circle-h"></i>
            한방병원
        </li>
        <li id="한의원" data-order="21">
        <i class="fa-solid fa-circle-h"></i>
            한의원
        </li>
        <li id="요양병원" data-order="22">
        <i class="fa-solid fa-circle-h"></i>
            요양병원
        </li>
        <li id="정신병원" data-order="23">
        <i class="fa-solid fa-circle-h"></i>
            정신병원
        </li>
        <li id="보건진료소" data-order="24">
        <i class="fa-solid fa-circle-h"></i>
            보건진료소
        </li>
        <li id="보건지소" data-order="25">
        <i class="fa-solid fa-circle-h"></i>
            보건지소
        </li>
        <li id="약국" data-order="26">
        <i class="fa-solid fa-circle-h"></i>
            약국
        </li>
    </ul>
     </li>
     </ul>
</div>

 <div class="map_wrap">
    <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
</div>
<script type="text/javascript" src="/static/js/map.js"></script>
{% endblock %}