{% extends 'finalapp/base.html' %}
{% block content %}
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/home">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/board">지역정보 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/second">의료자원현황</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/map">우리동네병원찾기</a>
                </li>
            </ul>
        </div>

<!--        <div class="title_name"
        style="font-size:13px ; color:white; font-weight: bold; margin-left:4%;">
        세종특별자치시 의료이용현황</div>-->
        <div style="font-size: 14px; color:white;padding-bottom:0; margin:0px 10px; font-weight: bold;">
            <script type="text/javascript">
            var today = new Date();

            var year = today.getFullYear();
            var month = ('0' + (today.getMonth()+1)).slice(-2);
            var day = ('0' + today.getDate()).slice(-2);

            var dateString = year + '.' + month + '.' + day;
            document.write("일자 : " + dateString);
            </script>
        </div>
    </nav>
    <div id="chart_all" class="container-fluid row mb-n3">
        <nav class="col-12 col-md-7 p-0 mx-3">
             <!-- 연령대별 읍면동 분포 -->
            <div id="age_dong"
                 class="chartBox my-2">
                <canvas id="myChart" width="800" height="300"></canvas>
            </div>
                <script>
                    const coordinates = {
                        top: 0,
                        bottom: 0,
                        left: 0,
                        right: 0,
                    }

                    const browserData = [{
                        browser: '0-9세',
                        color: '#F9F871',
                        marketshare: {{ mage0s }}+{{ fage0s }},
                        versionData: [
                            {% for i in regionpop %}
                                { version: '{{ i.regions }}', users: {{ i.mage0s }} }{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ],
                        versionData1: [
                            {% for i in regionpop %}
                                { version: '{{ i.regions }}', users: {{ i.fage0s }} }{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ]},
                        {
                        browser: '10-19세',
                        color: '#FFC75F',
                        marketshare: {{ mage10s }}+{{ fage10s }},
                        versionData: [
                            {% for i in regionpop %}
                                { version: '{{ i.regions }}', users: {{ i.mage10s }} }{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ],
                        versionData1: [
                            {% for i in regionpop %}
                                { version: '{{ i.regions }}', users: {{ i.fage10s }} }{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ]},
                        {
                        browser: '20-29세',
                        color: '#FF9671',
                        marketshare: {{ mage20s }}+{{ fage20s }},
                        versionData: [
                            {% for i in regionpop %}
                                { version: '{{ i.regions }}', users: {{ i.mage20s }} }{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ],
                        versionData1: [
                            {% for i in regionpop %}
                                { version: '{{ i.regions }}', users: {{ i.fage20s }} }{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ]},
                        {
                        browser: '30-39세',
                        color: '#FF6F91',
                        marketshare: {{ mage30s }}+{{ fage30s }},
                        versionData: [
                            {% for i in regionpop %}
                                { version: '{{ i.regions }}', users: {{ i.mage30s }} }{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ],
                        versionData1: [
                            {% for i in regionpop %}
                                { version: '{{ i.regions }}', users: {{ i.fage30s }} }{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ]},
                        {
                        browser: '40-49세',
                        color: '#D65DB1',
                        marketshare: {{ mage40s }}+{{ fage40s }},
                        versionData: [
                            {% for i in regionpop %}
                                { version: '{{ i.regions }}', users: {{ i.mage40s }} }{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ],
                        versionData1: [
                            {% for i in regionpop %}
                                { version: '{{ i.regions }}', users: {{ i.fage40s }} }{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ]},
                        {
                        browser: '50-59세',
                        color: '#845EC2',
                        marketshare: {{ mage50s }}+{{ fage50s }},
                        versionData: [
                            {% for i in regionpop %}
                                { version: '{{ i.regions }}', users: {{ i.mage50s }} }{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ],
                        versionData1: [
                            {% for i in regionpop %}
                                { version: '{{ i.regions }}', users: {{ i.fage50s }} }{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ]},
                        {
                        browser: '60-69세',
                        color: '#2C73D2',
                        marketshare: {{ mage60s }}+{{ fage60s }},
                        versionData: [
                            {% for i in regionpop %}
                                { version: '{{ i.regions }}', users: {{ i.mage60s }} }{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ],
                        versionData1: [
                            {% for i in regionpop %}
                                { version: '{{ i.regions }}', users: {{ i.fage60s }} }{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ]},
                        {
                        browser: '70세 이상',
                        color: '#008E9B',
                        marketshare: {{ mage70s }}+{{ fage70s }},
                        versionData: [
                            {% for i in regionpop %}
                                { version: '{{ i.regions }}', users: {{ i.mage70s }} }{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ],
                        versionData1: [
                            {% for i in regionpop %}
                                { version: '{{ i.regions }}', users: {{ i.fage70s }} }{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ]}
                    ];

                // setup
                const data = {
                  datasets: [{
                    label: '연령대별 읍면동 분포(명)',
                    data: browserData,
                    backgroundColor: [
                        browserData[0].color,
                        browserData[1].color,
                        browserData[2].color,
                        browserData[3].color,
                        browserData[4].color,
                        browserData[5].color,
                        browserData[6].color,
                        browserData[7].color,
                    ],
                    borderColor: [
                        browserData[0].color,
                        browserData[1].color,
                        browserData[2].color,
                        browserData[3].color,
                        browserData[4].color,
                        browserData[5].color,
                        browserData[6].color,
                        browserData[7].color,
                    ],
                    borderWidth: 1,
                  },{
                    label: '',
                    data: '',
                    backgroundColor: '#00ff0000',
                    borderColor: '#00ff0000',
                  }]
                };

                // resetButton plugin
                const resetButton = {
                    id: 'resetButton',
                    beforeDraw(chart, args, options){
                        if(myChart.config.data.datasets[0].label !== '연령대별 읍면동 분포(명)'){

                        const{ctx, chartArea: {top, bottom, left, right, width, height}} = chart;
                        ctx.save();

                        const text = 'Back';
                        const thickBorder = 3;
                        const textWidth = ctx.measureText(text).width;

                        // draw background
                        ctx.fillStyle = 'rgba(0,0,0,0.1)';
                        ctx.fillRect(right-(textWidth+1+10), 5, textWidth+10, 20);

                        // draw text
                        ctx.fillStyle = '#666';
                        ctx.font = '12px Arial';
                        ctx.fillText(text, right-(textWidth+1+5), 15);

                        // draw border
                        ctx.lineWidth = thickBorder + 'px';
                        ctx.strokeStyle = '#E1DDE3';
                        ctx.strokeRect(right-(textWidth+1+10), 5, textWidth+10, 20);

                        console.log(coordinates)
                        coordinates.top = 5;
                        coordinates.bottom = 25;
                        coordinates.left = right-(textWidth+1+10);
                        coordinates.right = right;

                        ctx.restore();
                        };
                    }
                }

                // config
                const config = {
                  type: 'bar',
                  data,
                  options: {
                    plugins: {
                        tooltip: {
                            yAlign: 'bottom'
                        }
                    },
                    onHover: (event, chartElement) => {
                        if(myChart.config.data.datasets[0].label === '연령대별 읍면동 분포(명)') {
                        event.native.target.style.cursor = chartElement[0] ? 'pointer' : 'default';
                        } else {
                        event.native.target.style.cursor = 'default';
                        };
                    },
                    parsing: {
                        xAxisKey: 'browser',
                        yAxisKey: 'marketshare'
                    },
                    scales: {
                      x: {
                        stacked: true,
                      },
                      y: {
                        stacked: true,
                        beginAtZero: true
                      }
                    }
                  },
                  plugins: [resetButton]
                };

                // render init block
                const ctx = document.getElementById('myChart');
                const myChart = new Chart(
                  ctx,
                  config
                );

                function changeChart(browser){
                    myChart.config.options.parsing.xAxisKey = 'versionData.version';
                    myChart.config.options.parsing.yAxisKey = 'versionData.users';
                    myChart.config.options.scales.x.stacked = true;
                    myChart.config.options.scales.y.stacked = true;
                    myChart.config.options.scales.y.beginAtZero = true;

                    const vUsers = [];
                    const vLabels = browserData[browser].versionData.map(labels => {
                        vUsers.push(labels.users);
                        return labels.version;
                    })

                    const vUsers1 = [];
                    const vLabels1 = browserData[browser].versionData1.map(labels => {
                        vUsers1.push(labels.users);
                        return labels.version;
                    })

                    console.log(vLabels)
                    myChart.config.data.labels = vLabels;
                    myChart.config.data.datasets[0].data = vUsers;
                    myChart.config.data.datasets[1].data = vUsers1;
                    myChart.config.data.datasets[0].backgroundColor = 'rgba(177, 204, 240, 1)';
                    myChart.config.data.datasets[1].backgroundColor = 'rgba(255, 192, 203, 1)';
                    myChart.config.data.datasets[0].borderColor = 'rgba(177, 204, 240, 1)';
                    myChart.config.data.datasets[1].borderColor = 'rgba(255, 192, 203, 1)';
                    myChart.config.data.datasets[0].label = '남자';
                    myChart.config.data.datasets[1].label = '여자';
                    myChart.update();
                }

                function clickHandler(click){
                    if(myChart.config.data.datasets[0].label === '연령대별 읍면동 분포(명)') {
                        const bar = myChart.getElementsAtEventForMode(click, 'nearest',
                            {intersect: true}, true);
                        console.log(bar);
                        if(bar.length){
                            console.log(bar[0].index);
                            changeChart(bar[0].index);
                        }
                    }
                };

                function resetChart(){
                    myChart.config.options.parsing.xAxisKey = 'browser';
                    myChart.config.options.parsing.yAxisKey = 'marketshare';

                    const bColor = [];
                    const bMarketshare = [];
                    const bLabels = browserData.map(browser => {
                        bColor.push(browser.color);
                        bMarketshare.push(browser.marketshare);
                        return browser.browser;
                    });

                    myChart.config.data.labels = bLabels;
                    myChart.config.data.datasets[0].data = bMarketshare;
                    myChart.config.data.datasets[1].data = '';
                    myChart.config.data.datasets[0].backgroundColor = bColor;
                    myChart.config.data.datasets[1].backgroundColor = '#00ff0000';
                    myChart.config.data.datasets[0].borderColor = bColor;
                    myChart.config.data.datasets[1].borderColor = '#00ff0000';
                    myChart.config.data.datasets[0].label = '연령대별 읍면동 분포(명)';
                    myChart.config.data.datasets[1].label = '';

                    myChart.update();
                };

                function mousemoveHandler(canvas, mousemove){
                    const x = mousemove.offsetX;
                    const y = mousemove.offsetY;

                    if(myChart.config.data.datasets[0].label !== '연령대별 읍면동 분포(명)'){
                    if(x > coordinates.left && x < coordinates.right && y > coordinates.top && y < coordinates.bottom){
                        canvas.style.cursor = 'pointer';
                    } else {
                        canvas.style.cursor = 'default';
                      };
                    };
                };

                function clickButtonHandler(canvas, click){
                    const x = click.offsetX;
                    const y = click.offsetY;

                    if (x > coordinates.left && x < coordinates.right && y > coordinates.top && y < coordinates.bottom){
                        resetChart();
                    };
                };

                ctx.onclick = clickHandler;

                ctx.addEventListener('mousemove', (e) => {
                    myChart.resize();
                    mousemoveHandler(ctx, e);
                });

                ctx.addEventListener('click', (e) => {
                    myChart.resize();
                    clickButtonHandler(ctx, e);
                });
                </script>
            <!--진료 건수와 진료비 bar + line chart-->
            <div id ="b_line"
                class="chartBox">
                <canvas id="tocostChart" width="800" height="300"></canvas>
            </div>
            <script>
            // CountCost Chart
            window.onload = function () {
            var mixedChart = document.getElementById('tocostChart').getContext('2d');
            var tocostChart = new Chart(mixedChart, {
            type: 'bar',
            data: {
                labels: ['2018년', '2019년', '2020년', '2021년', '2022년'],
                datasets: [
                    {
                    type: 'bar',
                    label: '진료수(건)',
                    yAxisID: 'y-axis-numtres',
                    data: {{ numtre_numtres|safe }},
                    backgroundColor: 'rgba(0, 123, 255, 0.5)',
                    borderColor: 'rgba(0, 123, 255, 1)',
                    borderWidth: 1
                    }, {
                    type: 'line',
                    label: '진료비(천원)',
                    yAxisID: 'y-axis-tocosts',
                    data: {{ tocost_tocosts|safe }},
                    borderColor: 'rgba(255, 99, 132, 1)',
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    fill: true,
                    borderWidth: 2,
                    }
                ],
            },
            options: {
                responsive: true,
                interaction: {
                    mode: 'index',
                    intersect: false,
                },
                scales: {
                    'y-axis-numtres' : {
                        type: 'linear',
                        display: true,
                        position: 'left',
                        id: 'y-axis-numtres',
                    },
                    'y-axis-tocosts' : {
                        type: 'linear',
                        display: true,
                        position: 'right',
                        id: 'y-axis-tocosts',
                        grid:{
                            drawOnChartArea:false,
                             }
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: '진료 건수와 진료비 추이',
                        padding: {
                            top: 10,
                            bottom: 10
                        }
                    }
                }
            }
            });
            };
            </script>
        </nav>
        <section class="col-5 col-md-3 mx-3 p-0">
                 <!--다빈도상병(입원)-->
             <div class="chartBox2 my-2">
                <canvas id="inrankPieChart" width="300" height="300"></canvas>
             </div>
            <!--다빈도상병(외래)-->
            <div class="chartBox2">
                <canvas id="outrankPieChart" width="300" height="300"></canvas>
            </div>
            <script>
    // 다빈도상병(입원)

    // hoverLabel plugin block
    const hoverLabel = {
      id : 'hoverLabel',
      afterDraw(chart, args, options){
        const {ctx, chartArea: {left, right, top, bottom, width, height}} = chart;
        ctx.save();

        if(chart._active.length > 0) {
          const textLabel = chart.config.data.labels[chart._active[0].index];
          const numberLabel = chart.config.data.datasets[chart._active[0].datasetIndex].data[chart._active[0].index];
          const color = chart.config.data.datasets[chart._active[0].datasetIndex].borderColor[chart._active[0].index];

          ctx.font = 'bolder 20px Arial';
          ctx.fillStyle = color;
          ctx.textAlign = 'center';
          ctx.fillText(`${textLabel}`, width/2, height/2+top, width/1.5);
          ctx.fillText(`${numberLabel}`, width/2, height/2+top*2, width/1.5);
          }
        ctx.restore();
      }
    }

    const inrankPieChartCtx = document.querySelector('#inrankPieChart').getContext('2d');
    const inrankPieChart = new Chart(inrankPieChartCtx, {
      type: 'doughnut',
      data: {
        labels: [
          {% for i in inrank %}
            '{{ i.disease }}'{% if not forloop.last %},{% endif %}
          {% endfor %}
        ],
        datasets: [{
          label: '입원 수 ',
          data: [
            {% for i in inrank %}
              {{ i.count }}{% if not forloop.last %},{% endif %}
            {% endfor %}
          ],
          backgroundColor: [
            'rgba(255, 26, 104, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
          ],
          borderColor: [
            'rgba(255, 26, 104, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
          ],
          borderWidth: 1,
          hoverBackgroundColor: [
            'rgba(255, 26, 104, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
          ],
          cutout: '80%'
        }]
      },
      options: {
        plugins: {
          legend: {
            display: false,
            position: 'bottom'
          },
          title: {
            display: true,
            text: '다빈도 상병(입원)'
          },
          layout: {
            padding: 10
          },
          labels: {
            render: 'percentage',
            fontColor: 'black',
            fontStyle: 'bolder',
            position: 'inside',
            textMargin: 6
          },
          tooltip: {
            enabled:false
          }
        }
      },
      plugins: [hoverLabel]
    });

    // 다빈도상병(외래)
    const outrankPieChartCtx = document.querySelector('#outrankPieChart').getContext('2d');
    const outrankPieChart = new Chart(outrankPieChartCtx, {
      type: 'pie',
      data: {
        labels: [
          {% for i in outrank %}
            '{{ i.disease }}'{% if not forloop.last %},{% endif %}
          {% endfor %}
        ],
        datasets: [{
          label: '외래 수 ',
          data: [
            {% for i in outrank %}
              {{ i.count }}{% if not forloop.last %},{% endif %}
            {% endfor %}
          ],
          backgroundColor: [
            'rgba(255, 26, 104, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
          ],
          borderColor: [
            'rgba(255, 26, 104, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
          ],
          borderWidth: 1,
          hoverBackgroundColor: [
            'rgba(255, 26, 104, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
          ],
          cutout: '80%'
        }]
      },
      options: {
        plugins: {
          legend: {
            display: false,
            position: 'bottom'
          },
          title: {
            display: true,
            text: '다빈도 상병(외래)'
          },
          layout: {
            padding: 10
          },
          labels: {
            render: 'percentage',
            fontColor: 'black',
            fontStyle: 'bolder',
            position: 'inside',
            textMargin: 8
          },
          tooltip: {
            enabled:false
          }
        }
      },
      plugins: [hoverLabel]
    });
  </script>
        </section>
        <aside class="col-4 col-md-1 p-0">
                    <!-- 세종시 지역정보데이터 -->
            <div style="display:inline-flex;">
                <div class="flex-container stretch my-2"
                     style="width:200px;">
                    <div class="status-value" style="margin:0px 10px;">
                        <div id="status-label"
                             style="font-size:20px; padding:10px 0px 0px 0px">총 인구 수</div>
                            {% load humanize %}
                            {{ total_pop.total__sum | intcomma }}
                     </div>
                    <div class="status-value" style="margin:30px 10px;">
                        <div id="status-label"
                             style="font-size:20px; padding:10px 0px 0px 0px">의사 수 </div>
                        {% load humanize %}
                        {{ doc_pop.doctor__sum | intcomma }}
                    </div>
                    <div class="status-value" style="margin:20px 10px;">
                        <div id="status-label"
                             style="font-size:20px; padding:10px 0px 0px 0px">간호사수 </div>
                        {% load humanize %}
                            {{ nur_pop.nurse__sum | intcomma }}
                    </div>
                    <div class="status-value" style="margin:25px 10px 0px 10px;">
                        <div id="status-label"
                             style="font-size:20px; padding:10px 0px 0px 0px">병상수 </div>
                         {% load humanize %}
                            {{ pat_pop.patient__sum | intcomma }}
                    </div>
                </div>
            </div>
        </aside>
        <!-- 연령대별 인구수 데이터 전처리 -->
        <div id="pop" style="display:none">
            {% for i in table %}
                {{ i.total }}{% if not forloop.last %},{% endif %}
            {% endfor %}
        </div>
        <div id="mpop" style="display:none">
            {% for i in table %}
                {{ i.m }}{% if not forloop.last %},{% endif %}
            {% endfor %}
        </div>
        <div id="fpop" style="display: none">
            {% for j in table %}
                {{ j.f }}{% if not forloop.last %},{% endif %}
            {% endfor %}
        </div>
        <script type="text/javascript">
            var pop = document.getElementById('pop').innerText.split(',');
            var mpop = document.getElementById('mpop').innerText.split(',');
            var fpop = document.getElementById('fpop').innerText.split(',');

            var sum_0 = 0; var sum_10 = 0; var sum_20 = 0; var sum_30 = 0;
            var sum_40 = 0; var sum_50 = 0; var sum_60 = 0; var sum_70 = 0;
            var msum_0 = 0; var msum_10 = 0; var msum_20 = 0; var msum_30 = 0;
            var msum_40 = 0; var msum_50 = 0; var msum_60 = 0; var msum_70 = 0;
            var fsum_0 = 0; var fsum_10 = 0; var fsum_20 = 0; var fsum_30 = 0;
            var fsum_40 = 0; var fsum_50 = 0; var fsum_60 = 0; var fsum_70 = 0;

            for (let i=0; i<mpop.length; i++){
                if(i<10) {
                    sum_0 += Number(pop[i]);
                    msum_0 += Number(mpop[i]);
                    fsum_0 += Number(fpop[i]);
                } else if (i<20) {
                    sum_10 += Number(pop[i]);
                    msum_10 += Number(mpop[i]);
                    fsum_10 += Number(fpop[i]);
                } else if (i<30) {
                    sum_20 += Number(pop[i]);
                    msum_20 += Number(mpop[i]);
                    fsum_20 += Number(fpop[i]);
                } else if (i<40) {
                    sum_30 += Number(pop[i]);
                    msum_30 += Number(mpop[i]);
                    fsum_30 += Number(fpop[i]);
                } else if (i<50) {
                    sum_40 += Number(pop[i]);
                    msum_40 += Number(mpop[i]);
                    fsum_40 += Number(fpop[i]);
                } else if (i<60) {
                    sum_50 += Number(pop[i]);
                    msum_50 += Number(mpop[i]);
                    fsum_50 += Number(fpop[i]);
                } else if (i<70) {
                    sum_60 += Number(pop[i]);
                    msum_60 += Number(mpop[i]);
                    fsum_60 += Number(fpop[i]);
                } else {
                    sum_70 += Number(pop[i]);
                    msum_70 += Number(mpop[i]);
                    fsum_70 += Number(fpop[i]);
                }}
        </script>
    </div>
</div>

{% endblock %}